name: feature-01 ci
run-name:  ${{github.actor}} is integrating feature-01
on:
  push:
    branches: 
    - feature-01
jobs:
  ci-features-01:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ github.token }} 
    - uses: actions/setup-node@v3
      with:
        node-version: "16"
        cache: 'yarn'
    - name: Setup git user
      run: |
           git config --global user.email "${{ github.event.pusher.email }}"
           git config --global user.name "${{ github.actor }}"
    - name: Install dependencies
      run: npm ci  
    - name: Test project
      run: npm run test
    - name: Merge main
      run: |
           git fetch --unshallow
    
